.navbar {
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navlink {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.navlogo p {
    margin: 0;
    font-size: 40px;
    font-family: 'Avenir';
}

.navlinks {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Avenir';
    margin-right: 20px;
}

.navlinks .navlink {
    text-decoration: none;
    color: white;
    position: relative;
}

.navlinks .navlink li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    padding: 10px 10px;
    transition: background-color 0.3s;
}

.navlinks .navlink li::after {
    content: "";
    position: absolute;
    bottom: -2px; 
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease;
}

.navlinks .navlink:hover li::after {
    width: 100%;
}

.navlinks .navlink.active li::after {
    width: 100%;
}

.navlinks .navlink.active li {
    font-weight: bold;
}

.navlinks .navlink li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
